.pattern {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background: rgba(29, 31, 32, 0.904)
      radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);
  
    background-size: 11px 11px;
  }
  